VITE_FIREBASE_API_KEY=...
VITE_FIREBASE_AUTH_DOMAIN=crm-severin.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=crm-severin
VITE_FIREBASE_STORAGE_BUCKET=crm-severin.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=...
VITE_FIREBASE_APP_ID=...
